@use 'sass:math';

//----------------------------------------------------------------------------------------------------------------------
// Components: Controls
//----------------------------------------------------------------------------------------------------------------------

$controls-fire-button-background-color: #d52323 !default;
$controls-fire-button-color: $color-white !default;
$controls-fire-button-border: 1px solid #444 !default;
$controls-fire-button-border-radius: math.div($global-spacing-unit, 2) !default;
$controls-fire-button-pocus-background-color: #c42727 !default;
$controls-fire-button-pocus-color: #f1c5c5 !default;

.c-controls {
    position: relative;

    &__form {
        margin-bottom: $spacing;
    }

    &__input {
        margin-bottom: 0 !important;

        @include mq(mobile, tablet) {

            @include font-size(14px);

            padding: math.div($spacing, 4) !important;
        }
    }

    &__fieldset {
        margin-bottom: 0;

        @include mq(mobile, tablet) {

            @include font-size(14px);

        }
    }

    /* For time, this would and should be a button component */
    &__fire {
        display: block;
        width: 100%;
        padding: math.div($spacing, 2) math.div($spacing, 1.5);
        background-color: $controls-fire-button-background-color;
        color: $controls-fire-button-color;
        font-weight: bold;
        border: $controls-fire-button-border;
        transition: color .12s ease-in-out, background-color .21s ease-in-out;

        @include pocus {
            background-color: $controls-fire-button-pocus-background-color;
            color: $controls-fire-button-pocus-color;
        }
    }
}

.c-controls__fieldset--inputs {
    display: flex;
    align-items: center;
}
